<p id="notice"><%= notice %></p>


<p>
  <strong>今後ここに画像など代理店詳細情報を拡充する</strong>
</p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
